librayforce.dylib
rayforce/rayforce/
build/
.vscode
__pycache__
_rayforce.c*.so
_rayforce_c.so
.pytest_cache
.ruff_cache
.mypy_cache
tmp/
.DS_Store
rayforce.so
librayforce.so
libraykx.*

script.py

dist/
*.egg-info/