# Tests
.ruff_cache
.pytest_cache
.mypy_cache

# Binaries
rayforce/rayforce/
rayforce.so
_rayforce_c.so
_rayforce_c.dylib
librayforce.so
librayforce.dylib
libraykx.so
libraykx.dylib

# Wheel Build
build/
tmp/
dist/
wheelhouse/
*.egg-info/

# Misc
.vscode
__pycache__
script.py
.DS_Store
docs/site/
