include README.md
include LICENSE
recursive-include rayforce *.so
recursive-include rayforce *.dylib
recursive-include rayforce/plugins *.so
recursive-include rayforce/plugins *.dylib
recursive-include rayforce *.pyi
