include README.md
include LICENSE
recursive-include raypy *.so
recursive-include raypy *.dylib
recursive-include raypy/plugins *.so
recursive-include raypy/plugins *.dylib
recursive-include raypy *.pyi
